<h1 style=color:blueviolet;>About us</h1>
<div style="background-image: url(../src/images/about_us.jpg); height: 150%; width: 100%; border: 1px solid black;">
    <h3 style=color:aquamarine;>Our Mission</h3>
    
      
<p style=" font-family:courier;font-size:160%; color:bisque; ">
  Book-api's mission is to help people around the world reach their goals through the written word. We achieve
  this through:

  Quality: We provide quality services, improve the quality of our clients' work, and work with high-quality
  editors.
  Accuracy: We pay attention to detail throughout the ordering, editing, and quality assurance processes.
  Opportunity: We create opportunities, both for our clients and our editors.
  Technology: We embrace technology, ensuring that our operations run smoothly and allowing us to adapt quickly
  in an ever-changing industry.
  In short, we help the world communicate more clearly, one comma at a time.
  <br>
<br>  <br>
<br>
<br>
<br>
    </p>
</div>